@import url("./Yekan.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

body {
  @apply mx-auto bg-gray-100;
}

.PriceRange::-webkit-slider-thumb {
  @apply h-3 w-3 appearance-none rounded-full bg-white drop-shadow-lg;
}

.footer-list::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: red;
  display: inline-block;
  margin: 0 6px 0;
  transition: width 0.2s;
}

.footer-list:hover::before {
  content: "";
  width: 15px;
  height: 2px;
  background-color: red;
  display: inline-block;
  margin: 0 6px 0;
  transition: width 0.2s;
}

.propertyList::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 100%;
  display: inline-block;
  margin: 0 6px 0;
  transition: width 0.2s;
}

.slider-scroller::-webkit-scrollbar {
  height: 7px;
  background-color: #eee;
}
.slider-scroller::-webkit-scrollbar-thumb {
  background: rgb(165, 165, 165);
  border-radius: 5px;
}

body::-webkit-scrollbar {
  background-color: #eee;
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background: rgb(165, 165, 165);
}
