/* Webfont: Yekan */
@font-face {
  font-family: "Yekan";
  src: url("./../assets/iransansx-cufonfonts/IRANSansXRegular.ttf");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Yekan";
  src: url("./../assets/iransansx-cufonfonts/IRANSansXBold.ttf");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Yekan";
  src: url("./../assets/iransansx-cufonfonts/IRANSansXLight.ttf");
  font-weight: lighter;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
